/*Introduccion*/

body{
	background: red;
	background: #bbdae8;
	color: #fff;
}


h1{
	color: rgba(67,78,34,1);
	font-size: 40px;
	font-style: italic;
	text-transform: capitalize;
	background-color: #eaf0aa;
}

img{
	width: 200px;
}

video{
	width: 500px;
}/


/*-----------------Trabajando con el atributo Class-----------------*/

h2.ejm {
	color: #224a4e;
	font-size: 35px;
	font-style: italic;
	text-transform: capitalize;
	background-color: #eaf0aa;
}

.ejm{

	color: #000;
	font-size: 35px;
	font-family:"Courrier New", Courier, monospace ;
	background-color: #eaf0aa;

} 