
.cabecera::after{
	content: '';
	height: 100vh;
	width: 100%;
	background-image: url(../img/fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	filter: blur(10px);
	transition: all 1000ms;
}

.cabecera:hover::after{
	filter: blur(0px);
	-webkit-filter: blur(0px);
}

.cabecera:hover .content{
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

.content{
	position: absolute;
	z-index: 1;
	top: 10%;
	left:50%;
	margin-top: 105px;
	margin-left: -145px;
	width: 250px;
	height: 350px;
	text-align: center;
	transition: all 1000ms;
}

.content .logo{
	height: 190px;
	width: 190px;
}

.content .titulo{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	margin-top: 1rem;
}

/*.content p {
	line-height: 1.5;
	margin-top: 1rem;
}*/

.content .descripcion {
  line-height: 1.7;
  margin-top: 1rem;
}
