
.contenedor01{
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 4rem 1rem;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	margin: auto; 
}