/*---------Selector Universal---------*/
{
	background: blue;
	margin:0;
	padding: 0;
}



/*--------Selector de Etiqueta--------*/

h1,h2,h3{
	color:#232e7d;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 41px;
	font-style:italic;
}

/*---------Selector de Parrafo---------*/

a{
	font-size: 23px;
}

p a{
	color: green;
}

p.col{
	color: #25397f;
}