
/*a{
	font-size: 20px;
	text-decoration: none;
	margin: 10px 20px 10px 0;
}

a:link {
	color: #0f7f22;
}

/*Cuando pasas el mouse sobre el enlace
a:hover{
	text-decoration: underline;
	background: #000;
	color: #fff;
}

/*Cuando le das clic
a:active{
	background: #294d83;
}
*/

/*----------Transformar en un boton----------*/

a{
	font-size: 20px;
	text-decoration: none;
	margin: 10px 20px;
	display: inline-block;
	background: #668e9e;
	color: #fff;
	padding: 10px 20px;
	box-shadow: 0px 5px 0px #436b77;
}

a:hover{
	background: #3c455a;
	box-shadow: 0px 5px 0px #89a2a8;
}

a:active{
	box-shadow: none;
	background: #262c39;
}