/*----------Unidades absolutas----------*/

body{
	margin: 0.5in;
}

h1{
	line-height: 2cm;
}


p{
	word-spacing: 4mm;
}


/*----------Unidades Relativas----------*/

body{
	font-size: 30px;
	font-size: 30%;
}

div{
	background: #000;
	color: #fff;
	font-style: italic;
	/*width: 50px;*/
	width: 50%;
}

div p{
	font-size: .95em;
}