/*Propiedades de Texto & Tipografia*/

h1{
	font-weight:bold;
	text-align: center;
	background-color: #dbdee6;

}


p{
	color: rgba(0,0,0,.7);
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 15px;
	font-weight: normal;
	text-align: justify;
	line-height: 30px; /*separacion de alto de parrafo*/
	text-transform: lowercase; /*uppercase,capitalize*/
	letter-spacing: 2px; /*espaciado entre letras*/
}