/*--------Propiedades de Fondos--------*/

body{
	background: red;
	/*background: url(../img/batmanfondo.png);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 300px 150px;
	background-position: 50%;
}