/*------------Propiedades de Formularios------------*/

form{
	width: 25%;
	border:1px solid #ccc;
	margin: 20px;
	padding: 20px;
}

label{
	font-size: 14px;
	display: block;
	width: 100%;
}

textarea{
	resize: vertical;
	max-height: 400px;
	min-height: 50px;
}

input,textarea{
	margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	border: 1px solid #ccc;
}


input:focus, textarea:focus{
	border:1px solid red;
}


input[type="submit"]{
	margin-bottom: 0;
	width: 50%;
	background: #8191ab;
	color: #fff;
	border:none;
	
}


input[type="submit"]:hover{
	background: #555f6f;
}

input[type="submit"]:active{
	background: #0f1621;
}
