@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);
@import url(ubicacion.css);
@import url(footer.css);


*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}


body{
	font-family: 'Poppins', sans-serif;
}

header{
	width: 100%;
	height: 50px;
	background:#2b6c16; 
	color: #fff;

	position: fixed;
	top: 0;
	left:0;
	z-index: 100;
}

.contenedor{
	width: 98%;
	margin:auto;
}

h1{
	float: left;
}

header .contenedor{
	display: table;
}



/*--------parte 2------*/
section{
	width: 100%;
	margin-top: 25px;
}


/*Escritorio*/
@media(min-width: 1024px){
	.contenedor{
		width: 1000px;
	}

}
