/*----------Box Model----------*/

div{
	/*Primera forma*/
/*	width: 300px;
	border: 3px solid blue;
	padding: 25px;
	margin: 25px;*/
	
	/*Segunda Forma*/
	width: 60%;
	height: 200px;
	border: 3px solid black;
	padding: 15px 30px;
	margin: 25px 50px;
	background: #bdd0d1;
	display: inline-block;
}