/*--------Propiedades de Tabla--------*/

table{
	/*border:1px solid #000;*/
	border-collapse: collapse;
	width: 50%;
}

table td{
	border:1px solid #000;
	padding: 15px;
}

table tr:hover{
	background: #96bfdb;
}

table td:hover{
	background:#3374a1;
	color: #fff;
}

table td:active{
	background: #26475a;
	color: #fff;
}