/*--------Unidades de Color-Formas--------*/


h1{
	/*color:green;*//*red,blue,yellow,aqua*/
	/*color:#3f7570;*//*forma hexadecimal*/
	/*color: rgb(183,159,92);*/
	/*color: rgb(183,159,92,.9);*/
	color: hsla(223,83%,37%,.65);
}