/*--------Propiedades de Lista--------*/

/*ul{
	list-style: circle;
	list-style-position:outside;
}

ol{
	/*list-style-type: decimal-leading-zero;
	/*list-style-type: upper-latin;*//*lower-latin
	list-style-type: lower-alpha;
}*/


/*--------Creacion de Menu--------*/
.menu{
	width: 100%;
	background: #a7c2f5;
	list-style: none;
	margin: 0;
	padding:0;
}

.menu li{
	display: inline-block;
}

.menu li a{
	text-decoration:none;
	padding: 10px 20px;
}

.menu li a:hover{
	background: #91aecb;
	color: #fff;
}