/*----------Box Model Posicionamiento----------*/

div{

	width: 300px;
	height: 200px;
	border: 3px solid black;
	padding: 15px 30px;
	margin: 25px 50px;
	background: #bdd0d1;
	color: #202c5a;
	font-size: 15px;

	float: left;

	/*display: inline-block;*/
}


.box{
	position: relative;
	top:300px;
	bottom: ;
	right: ;
	left:300px;
}